.Controls{
    display: 'flex';
    margin-bottom: '20px';
}

.Item{
    border: 1px solid;
    width: 13%;
    margin: 0 .2%;
}

.Item h2{
    color:#30b8a8;
    text-align: center;
    text-decoration: underline
}

.Item input{
    margin-bottom: 8px
}