.Toolbar {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,rgb(173, 172, 172) 0%, rgb(66, 58, 58) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}


@media (max-width: 519px) {
    .DesktopOnly {
        display: none;
    }
    .Toolbar {
        background: linear-gradient(90deg,rgb(173, 172, 172) 0%, rgb(66, 58, 58) 100%);

    }
}