.App {
  text-align: center;
  background: linear-gradient(80deg,rgb(193, 252, 223) 0%, #44ca8b 100%);
  /* background-color: rgb(175, 248, 214); */
  width: 100%;
  min-height: 100vh;
  display:block;
  overflow:auto;
  height: 100%;
  padding: 15px 0;
}
